body {
    margin: 20px;
}

/*li {*/
    /*display: flex;*/
    /*flex-direction: row;*/
/*}*/

ul {
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
}

label {
    display: block;
}

input {
    display: block;
}

/*.constrained {*/
    /*height: 630px;*/
    /*overflow-y: scroll;*/
/*}*/

/*.ng-table-pager {*/
    /*display: flex;*/
    /*justify-content: center;*/

/*}*/

/*.pagination {*/
    /*width: 500px;*/
    /*display: flex;*/
    /*justify-content: space-around;*/

/*}*/