<h1>Been There, Go Back!</h1>
<div class="favDiv" ng-repeat="park in parks">
    <div><img ng-src="{{park.image}}" /></div>
    <div class="favInfo">
    <h3>{{park.park}} {{park.type}}</h3>
    <h5>{{park.region}}</h5>
    <p>{{park.description}}</p>
    <ul class="favList">
        <li>Location: {{park.lat}}, {{park.long}}</li>
        <li>{{park.siteNumber}} {{park.siteType}} campsites</li>
        <li>Available Hiking Trails: {{park.miles}} miles</li>
        <li><a href="{{park.link}}">More Info!</a></li>
    </ul>
    </div>
</div>