<div class="infoPage">
<h1>Adventure is Out There!</h1>
<form>
    <!--Returns Park Name, not park object: complete path...-->
    <!--<input ng-model="park" class="awesomeplete" list="parkList" />-->
    <!--<datalist id="parkList">-->
    <!--<option value="" placeholder="Search for a Park..."></option>-->
    <!--<option ng-repeat="park in parks">{{park.park}}</option>-->
    <!--</datalist>-->
    <select id="park-list" ng-model="park" ng-options="park.park for park in parks">
        <option value="">Choose a Park...</option>
    </select>
    <a href="#info"><input type="submit" ng-click="selectPark(park)" value="Get Info" /></a>
</form>
<h6>Didn't find your park? <a ng-click="newPark()">Click here</a> to enter a new one!</h6>
<form ng-show="enterPark">
    <input type="text" placeholder="Park Name" ng-model="name" />
    <select id="type" ng-model="type" name="type">
        <option value="">Park Type...</option>
        <option value="SP">State Park</option>
        <option value="SRA">State Recreation Area</option>
    </select>
    <select id="region-list" ng-model="region" ng-options="region for region in regions">
        <option value="">Region...</option>
    </select>
    <select id="siteType" ng-model="siteType" name="siteType">
        <option value="">Site Type...</option>
        <option value="rustic">Rustic</option>
        <option value="semi-modern">Semi-Modern</option>
    </select>
    <input type="number" id="siteNumber" ng-model="siteNumber" name="siteNumber" placeholder="# of Sites" />
    <input type="number" id="miles" ng-model="miles" name="miles" placeholder="Miles of Hiking Trails" />
    <textarea rows="4" cols="50" ng-model="description" placeholder="Park Description..."></textarea>
    <input type="text" id="link" ng-model="link" name="link" placeholder="Park Website Link" />
    <input type="number" id="lat" ng-model="lat" name="lat" placeholder="Latitude" />
    <input type="number" id="long" ng-model="long" name="long" placeholder="Longitude" />
    <input type="submit" ng-click="submitPark()" value="Submit Park" />
</form>
</div>