<div class="constrained">
    <table ng-table="parkTable">
        <tr ng-repeat="park in data">
            <td data-title="'Park Name'" sortable="'park'">{{park.park}}</td>
            <td data-title="'Type'" sortable="'type'">{{park.type}}</td>
            <td data-title="'Region'" sortable="'region'">{{park.region}}</td>
            <td data-title="'# Campsites'" sortable="'siteNumber'">{{park.siteNumber}}</td>
            <td data-title="'Site Type'" sortable="'siteType'">{{park.siteType}}</td>
            <td data-title="'Hiking Trails (miles)'" sortable="'miles'">{{park.miles}}</td>
        </tr>
    </table>
</div>
