<div ng-if="currentID" ng-repeat="park in parkTable">
    <div ng-if="currentID == park._id">
        <form><h5>{{park.park}}</h5>
            <input type="number" ng-model="campsite" placeholder="Your Site #" />
            <input type="number" ng-model="miles" placeholder="Miles Hiked" />
            <textarea rows="4" cols="50" ng-model="notes" placeholder="Notes..."></textarea>
            <select ng-model="rating">
                <option value="">Stars</option>
                <option ng-repeat="number in rangeValues" value="{{number}}">{{number}} / 5</option>
            </select>
            <input type="submit" ng-click="updateUserPark()" value="Submit Park" />
        </form>
    </div>
</div>
<table st-table="displayedParks" st-safe-src="parkTable" class="table table-striped">
    <thead>
    <tr>
        <th colspan="6"><input st-search="" class="form-control" placeholder="Search Parks..." type="text"/></th>
    </tr>
    <tr>
        <th st-sort="park">Park Name</th>
        <th st-sort="type">Type</th>
        <th st-sort="region">Region</th>
        <th st-sort="siteNumber"># Campsites</th>
        <th st-sort="miles">Hiking Trails (miles)</th>
        <th>Favorite?</th>
        <th>Update</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="park in displayedParks">
        <td>{{park.park}}</td>
        <td>{{park.type}}</td>
        <td>{{park.region}}</td>
        <td>{{park.siteNumber}}</td>
        <td>{{park.miles}}</td>
        <td>
            <button ng-if="park.userFavorite != true" ng-click="favoritePark(park._id)">N</button>
            <button ng-if="park.userFavorite == true">Y</button>
        </td>
        <td><button ng-click="update(park._id)">Edit Park</button></td>
    </tr>
    </tbody>
</table>
